.topString {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.avatar {
  width: 100%;
  height: 100%;
}

.avatarWrapper {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewerName {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--label-color);
  margin-bottom: 2px;
}

.starIcon {
  width: 16px;
  height: 16px;
  fill: #ffc531;
}

.ratingWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.comment {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--main-color);
}
