.icon {
  width: 20px;
  height: 20px;
  stroke: var(--dark-yellow);
  fill: transparent;
  transform: rotateY(180deg);
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  background-color: transparent;
  border: none;
  margin-right: 16px;
}

.text {
  font-weight: 700;
  line-height: 125%;
}
