.wrapper {
  width: 568px;
  background-color: var(--light-yellow);
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
}

.image {
  position: absolute;
  top: 80px;
  left: 115px;
  z-index: 1000;
}

.note {
  width: 360px;
  height: 176px;
  background: linear-gradient(180deg, #eeb055 0%, #d08f38 100%);
  z-index: 2000;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 47px;
  height: 56px;
  fill: #e7c885;
}
