.formWrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.loadBtn {
  border-radius: 12px;
  padding: 16px 0;
  width: 183px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: var(--main-color);
  background-color: var(--dark-yellow);
  margin: 64px auto 0;
  display: block;
}

.pageSection {
  padding-bottom: 96px;
}
