.listItem {
  padding: 24px;
  background-color: var(--white-color);
  display: flex;
  gap: 48px;
  align-items: flex-start;
}

.photoWrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 12px;
  overflow: hidden;
  box-shadow: inset 0 0 0 3px var(--light-yellow);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.infoBlock {
  width: 100%;
}

.readMore {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
  color: var(--main-color);
  margin-bottom: 32px;
}

.bookButton {
  border-radius: 12px;
  padding: 16px 0;
  width: 232px;
  background-color: var(--dark-yellow);

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: var(--main-color);
  transition: background 250ms;
}

.bookButton:hover {
  background-color: var(--hover-yellow);
}
