.pageHeader {
  width: 1184px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
}

.navWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 322px;
}

.logoBlock {
  display: flex;
  gap: 20px;
}
