.pageHeader {
  width: 1184px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  /* justify-content: space-between; */
}

.navWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 390px;
}
