:root {
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --fonr-weight: 400;
  --main-color: #121417;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--fonr-weight);
  color: var(--main-color);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

ul,
ol {
  list-style-type: none;
}
