:root {
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --fonr-weight: 400;
  --main-color: #121417;
  --light-yellow: #fbe9ba;
  --dark-yellow: #f4c550;
  --hover-yellow: #ffdc86;
  --white-color: #ffffff;
  --label-color: #8a8a89;
  --background: #f8f8f8;
  --green: #38cd3e;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--fonr-weight);
  color: var(--main-color);
  background-color: var(--background);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background-color: transparent;
}
